SUPABASE_URL=https://ypxqdjaeocdmoezbzxzu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlweHFkamFlb2NkbW9lemJ6eHp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MTkxMzIsImV4cCI6MjA5MjQ5NTEzMn0.G7alIE24liUKOPtYCei9SffG2IwFL4sbSF88Ee2tb3M
